body {
    font-family: sans-serif;
    margin: 0px;
}

.nav {
    background-color: white;
    padding-bottom: 24px;
    margin-top: 60px;
    margin-right: 120px;
    margin-left: 120px;
}

.logo {
    font-size: xx-large;
    font-weight: 550;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: right;
}

.homb {
    font-style: italic;
    font-weight: 700;
}

a {
    display: block;
    padding: 24px;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e4e4e4;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: #D9D9D9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner {
    display: block;
    position: relative;
    padding-left: 96px;
    padding-bottom: 64px;
    padding-top: 60px;
    background-color: #F7F7F7;
    box-shadow: 0px 2px 5px #D9D9D9;
}

.banpic {
    text-align: center;
    font-size: 160px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E4E4E4;
    width: 45%;
    height: 100%;
    border-bottom-left-radius: 100%;
}

.bantex {
    color: black;
    z-index: 1;
}

.h1b {
    font-size: xxx-large;
    font-weight: 900;
    line-height: 96px;
}

.h2b {
    font-size: x-large;
    font-weight: 100;
    line-height: 40px;
}

.h3b {
    width: 50%;
    font-weight: 550;
    font-style: italic;
    padding-bottom: 24px;
}

.buttonb {
    background-color: #BEBEBE;
    border: 2px solid #BEBEBE;
    color: white;
    padding: 6px 54px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonb:hover {
    background-color: white;
    color: #F26532;
    border: 2px solid #F26532;
}

.quote {
    background-color: white;
    margin: 40px;
    margin-right: 120px;
    margin-left: 120px;
}

.quopic {
    float: left;
    text-align: center;
    font-size: 60px;
    background-color: #E4E4E4;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin-right: 40px;
}

.h2q {
    font-size: x-large;
    font-weight: 550;
    font-style: italic;
    width: 75%;
}

.h3q {
    font-weight: 550;
    font-style: italic;
}

.quoquo {
    background-image: url("Group 55.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    width: auto;
}